<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="../static/logo.png">
	<title>Intel Prakarsa Muda | MriksoHoax - Fabricated News Detector</title>
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
		integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/20a7009ed2.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"
		rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet" />
</head>

<body style="background-color: #f2f2f2; font-family: 'Glory', sans-serif;">
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow" style="background-color: #004a86;">
		<div class="container">
			<a class="navbar-brand fw-bold" href="">
				<img src="{{ url_for('static', filename='ipm-white.png') }}" width="150px" alt="IPM Logo" />
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="">
							<i class="fas fa-home"></i>
							Home
						</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/data-capture"><i class="fas fa-sd-card"></i> Data Capture</a>
					</li> -->
				</ul>
				<ul class="navbar-nav">
					<img src="{{ url_for('static', filename='intel-white.png') }}" width="100px" alt="Intel Logo" />
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<img src="../static/logo.png" class="mt-5 mx-auto d-block w-50" alt="App Logo" />
		<div class="row">
			<span class="mt-2 d-flex justify-content-center "><b>Fabricated News Detector</b></span>
			<div class="row mt-5 mx-auto">
				<div class="col-4 text-center">
					<i style="font-size: 2em;" class="fas fa-users"></i> <br>
					<p>{{overviews.users.total}} Users</p>
				</div>
				<div class="col-4 text-center">
					<i style="font-size: 2em;" class="fas fa-newspaper"></i> <br>
					<p>{{overviews.news_detections.total}} News Detections</p>
				</div>
				<div class="col-4 text-center">
					<i style="font-size: 2em;" class="fas fa-chart-pie"></i> <br>
					<p>{{overviews.accuracy}}% Accuracy</p>
				</div>
			</div>
			<hr class="hr mt-3" />
			<div class="mt-5 col-12">
				<form action="/scan" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<div class="custom-file">
							<label for="type">Input Type</label>
							<select onchange="changeType()" class="form-select mb-3 w-25" name="type" id="type">
								<option value="text">Text</option>
								<option value="link">Link</option>
							</select>

							<div id="input-text">
								<label for="text" style="font-size: 17px;">News Text :</label>
								<textarea placeholder="Input news text to be analyzed" class="form-control shadow-sm"
									name="text" id="text" cols="30" rows="10"></textarea>
							</div>

							<div id="input-link" style="display: none;">
								<label for="link" style="font-size: 17px;">News Link</label>
								<input class="form-control shadow-sm" type="text" name="link" id="link"
									placeholder="Input news link to be analyzed">
							</div>


						</div>
					</div>
					<br />
					<button type="submit" class="btn btn-primary mt-2 shadow-sm bg-gradient w-100">Scan</button><br>
				</form>
			</div>
			<div class="mt-4" style="font-size: 17px;">
				<input type="hidden" id="result" value="{{result}}">
				<input type="hidden" id="text-result" value="{{text}}">
			</div>
		</div>
		<br>

	</div>
	<p class="text-center text-muted my-3">Copyright &copy; 2021 - Intel&reg; AI4FW Surabaya Students.</p>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		document.getElementById('text').setAttribute('required', '')


		let result = document.getElementById('result').value

		let text = "";


		if (result == 'Real') {
			text = `REAL NEWS! 
		    
					${' | ' + document.getElementById('text-result').value + ' | '}


					Scan by MriksoHoax - Fabricated News Detector https://mriksohoax.herokuapp.com
			`
			Swal.fire({
				title: '<strong>Real</strong>',
				icon: 'success',
				html: '<b>You can trust it!</b>' +
					'<hr>' +
					'Share with <br><br>' +
					'<a target="_blank" id="share-wa" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.Hb7V78KYbyjP6CxnJ0p5dgHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-twt" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.Sbs-M2-y31gNoj9n-IIeowHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-rdt" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.ehQBJvgH2nrvUjF3eDci5gHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-fb" style="cursor: pointer"><img width="30px" src="https://th.bing.com/th/id/R.2f7b171aa9fb2f997d68ef4a2456a61f?rik=Evaxz4uYD2Dp9g&riu=http%3a%2f%2fjuniorlozandier.com%2fsite+images%2fFacebook-f_Logo-Blue-Logo.wine.png&ehk=CxyfsPd68E8A44qmaBn%2bedjcr790bidiJtKqKuEH%2b5c%3d&risl=&pid=ImgRaw&r=0"></a> ',
				showCancelButton: true,
				showConfirmButton: false,
				cancelButtonText: 'Close',
			})
		}
		if (result == 'Fake') {
			text = `FAKE NEWS! 
			
					${' | ' + document.getElementById('text-result').value + ' | '}
					
					
					Scan by MriksoHoax - Fabricated News Detector https://mriksohoax.herokuapp.com
			`
			Swal.fire({
				title: '<strong>Fake</strong>',
				icon: 'error',
				html: '<b>Be careful with this news!</b>' +
					'<hr>' +
					'Share with <br><br>' +
					'<a target="_blank" id="share-wa" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.Hb7V78KYbyjP6CxnJ0p5dgHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-twt" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.Sbs-M2-y31gNoj9n-IIeowHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-rdt" style="cursor: pointer; margin-right: 10px"><img width="30px" src="https://th.bing.com/th/id/OIP.ehQBJvgH2nrvUjF3eDci5gHaHa?pid=ImgDet&rs=1"></a> ' +
					'<a target="_blank" id="share-fb" style="cursor: pointer"><img width="30px" src="https://th.bing.com/th/id/R.2f7b171aa9fb2f997d68ef4a2456a61f?rik=Evaxz4uYD2Dp9g&riu=http%3a%2f%2fjuniorlozandier.com%2fsite+images%2fFacebook-f_Logo-Blue-Logo.wine.png&ehk=CxyfsPd68E8A44qmaBn%2bedjcr790bidiJtKqKuEH%2b5c%3d&risl=&pid=ImgRaw&r=0"></a> ',
				showCancelButton: true,
				focusConfirm: false,
				confirmButtonColor: 'red',
				confirmButtonText: '<a class="text-light" target="_blank" href="https://safebrowsing.google.com/safebrowsing/report_badware/?hl=en"><i class="fa fa-warning"></i> Report</a>',
				cancelButtonText: 'Close',
			})
		}
		if (result == 'Link not found') {
			Swal.fire({
				title: '<strong>Link not found</strong>',
				icon: 'error',
				html: '<b>Try Again!</b>',
				showCancelButton: true,
				showConfirmButton: false,
				cancelButtonText: 'Close',
			})
		}
		if (result == 'Real' || result == 'Fake') {
			document.getElementById('share-wa').setAttribute('href', `https://api.whatsapp.com/send?text=${text}`)
			document.getElementById('share-twt').setAttribute('href',
				`https://twitter.com/share?url=${''}&text=${text}&hashtags=#fakenews`)
			document.getElementById('share-rdt').setAttribute('href', `https://reddit.com/submit?url=${''}&title=${text}`)
			document.getElementById('share-fb').setAttribute('href',
				`https:www.facebook.com/sharer.php?u=${''}&title=${text}`)
		}
		document.getElementById('result').value = ''
		result = ''

		let type = document.getElementById('type').value

		const changeType = () => {
			type = document.getElementById('type').value

			document.getElementById('text').value = '';
			document.getElementById('link').value = '';

			if (type == 'text') {
				document.getElementById('input-text').style.display = 'block'
				document.getElementById('text').setAttribute('required', '')

				document.getElementById('input-link').style.display = 'none'
				document.getElementById('link').removeAttribute('required')
			}

			if (type == 'link') {
				document.getElementById('input-link').style.display = 'block'
				document.getElementById('link').setAttribute('required', '')

				document.getElementById('input-text').style.display = 'none'
				document.getElementById('text').removeAttribute('required')
			}
		}


	</script>
</body>

</html>